<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="syl.com.kotlindemo2">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.ActResponseActivity">
        </activity>
        <activity android:name=".activity.ActRequestActivity">
        </activity>
        <activity android:name=".activity.ParcelableSecondActivity">
        </activity>
        <activity android:name=".activity.ParcelableFirstActivity">
        </activity>
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.Main3Activity">
        </activity>
        <activity android:name=".activity.Main2Activity">
        </activity>
        <activity android:name=".activity.Content1Activity">
        </activity>
        <activity android:name=".base.BaseActivity">
        </activity>
        <activity android:name=".activity.Main4Activity">
        </activity>
        <activity android:name=".activity.Main5Activity">
        </activity>
        <activity android:name=".activity.ButtonClickActivity">
        </activity>
        <activity android:name=".activity.ActFirstActivity">
        </activity>
        <activity android:name=".activity.ActSecondActivity">
        </activity>
    </application>

</manifest>